# Python cache
**/__pycache__

# Build 
/build

# Code Editors settings
.vscode/*
!.vscode/tasks.json


# Tests
tests/**/*.csv
tests/**/*.png

.pytest_cache
env

**/*.egg-info

# Test script
/audio-test


# Docs
/docs/site

# Database
/data

# Logging
/logging