# Python cache
**/__pycache__

# Code Editors settings
.vscode/*
!.vscode/tasks.json

# Configs
config/*
!config/config_template.json5

# Tests
tests/**/*.csv
tests/**/*.png

.pytest_cache
env

**/*.egg-info

# Test script
audio/**