click==8.1.7
contourpy==1.2.0
cycler==0.12.1
defusedxml==0.7.1
fonttools==4.44.0
kiwisolver==1.4.5
markdown-it-py==3.0.0
matplotlib==3.7.1
mdurl==0.1.2
nidaqmx==0.6.5
numpy==1.26.1
packaging==23.2
pandas==1.5.3
Pillow==10.1.0
Pygments==2.16.1
pyparsing==3.1.1
pyserial==3.5
python-dateutil==2.8.2
python-usbtmc==0.8
pytz==2023.3.post1
pyusb==1.2.1
PyVISA==1.13.0
PyYAML==6.0.1
rich==13.6.0
scipy==1.10.1
six==1.16.0
typing_extensions==4.8.0
