<config>
  <nidaq>
    <Fs_max>1000000</Fs_max>
    <voltage_min>-10</voltage_min>
    <voltage_max>10</voltage_max>
    <input_channel>cDAQ9189-1CDBE0AMod5/ai1</input_channel>
  </nidaq>
  <sampling>
    <Fs_multiplier>50</Fs_multiplier>
    <points_per_decade>50</points_per_decade>
    <frequency_min>10</frequency_min>
    <frequency_max>99999</frequency_max>
    <number_of_samples>200</number_of_samples>
    <delay_measurements>0</delay_measurements>
  </sampling>
  <plot>
    <interpolation_rate>10</interpolation_rate>
  </plot>
</config>